body{
    background-color: aqua;
    width: 95%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    margin:auto ;
    overflow-wrap: break-word;
    
}

#maincontainer {
    width: 90%;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    font-size: 18px;
    
}
header{
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
nav ul{
    display: flex;
    list-style: none;
}
article{
    padding: 0px 20px;
}

   #logo {
       width: 30px;
       height: 20px;
       margin: 0px 10px;
       padding: 0px;
   }
@media only screen and (min-width :100px) and (max-width:900px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        width: 95%;
        overflow: hidden;
        overflow-y: scroll;
        overflow-wrap: break-word;
        margin: auto;
    }
    #maincontainer{   
        font-size: 16px;
        padding: 0px;
    }
     
}
@media only screen and (max-width:1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    body {
        width: 95%;
        overflow: hidden;
        overflow-wrap: break-word;
        overflow-y: scroll;
        margin: auto;
        
    }
    
}
