body{
    width: 95%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    margin:
    auto;
    overflow-wrap: break-word;
    background-image: linear-gradient(72deg, rgba(44,222,242,1) 0%, rgba(156,43,171,1) 58%, rgba(39,43,44,1) 100%);
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-color: rgba(0,0,0,0);
}
b{
    font-size: 20px;
}
#maincontainer {
    width: 95%;
    background-color: white;
    border-radius: 20px;
    margin: auto;
    font-size: 17px;
    padding-bottom: 30px;
}
header{
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
nav ul{
    display: flex;
    list-style: none;
}
article{
    padding: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

   #logo {
       width: 30px;
       height: 20px;
       margin: 0px 10px;
       padding: 0px;
   }

@media only screen and (min-width :100px) and (max-width:900px) and (-webkit-min-device-pixel-ratio: 2) {
    body {
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
        overflow-wrap: break-word;
        margin: auto;
        background-image: linear-gradient(72deg, rgba(44,222,242,1) 0%, rgba(156,43,171,1) 58%, rgba(39,43,44,1) 100%);
        background-size: auto;
        background-position: 0% 0%;
        background-repeat: repeat;
        background-color: rgba(0,0,0,0);
    }
    #maincontainer{
        font-size: 16px;
        padding-bottom: 30px;
        /* border: 2px solid; */
        overflow-wrap: break-word;
        overflow-x: hidden;
        background-size: auto;
        width: 100%;
        background-color: revert;
        border-radius: revert;
    }
    article{
        margin: 0px;
        font-size: 15px;
        padding: 0px 12px;
    }

ul {
}
    article h2{     
        font-size: 17px;
    }
    article h3{
        font-size: 15px;
    }
   article i{
        font-size: 16px;
   }  
}
@media only screen and (max-width:1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    body {
        width: 95%;
        overflow: hidden;
        overflow-wrap: break-word;
        overflow-y: scroll;
        margin: auto;
        
    }
    
}

