body {
    background-color:aqua;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#container {
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    text-transform: capitalize;
}

article {
    margin: 0 100px;
}

article h1 {
    font-weight: bold;
    font-size: 30px;

}

header {
    display: flex;
    padding: 5px;
    padding-top: 10px;

}

header img {
    width: 30px;
    height: 20px;
    margin: 5px;
}

#logo {
    margin-left: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 5px 50px;

}

nav li {
    padding: 0 10px;

}

nav li a {
    text-decoration: none;
    color: rgba(26, 26, 31, 0.301);
    text-transform: capitalize;
    font-weight: bold;
    transition: 0.5s;
}

nav li a:hover {
    color: black;
}

#user {
    margin-left: 90px;
}

.big,.small{
  
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    
}

.big{
    height: 150px;
}
.small{
    height: 250px;
}
.g{
    display: flex;
}
#g{
    display: flex;
    width: 100%;
    margin-left: 80px;
   padding-bottom: 40px;
    
}
#g p{
    text-align: left;
    font-weight: bolder;
    font-size: 22px;
}
#line2{
    margin-right: 150px;
}
.small button{
    margin-top: 150px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    transition: 0.5s;
}
.big button {
margin-top: 20px;
padding: 5px 10px;
border: none;
border-radius: 5px;
font-weight: bold;
font-size: 17px;
transition: 0.5s;
}
.big button:hover{
  transform: scale(1.1);
}
.small button:hover {
    transform: scale(1.1);
}



@media(max-width:600px),screen and (orientation:portrait) {
    body {
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
        margin: auto;
        height: min-content;

    }

    #container {
        width: 95%;
        overflow-y:hidden;
        margin:auto;

    }
    header{
        display: block; 
        padding: 0px;
        margin: 0%;
        
            }
    
    
    nav ul{
        display: block;
        margin: 5px 0px;
    }
        nav li a:hover {
           background-color:rgb(141, 137, 137) ; 
        }
    #logo{
        width: 100%;
        height: 50px;
        margin: 0px;
    }   
    article{
        margin: 0%;
    }
    nav li{
        padding: 0px;
    }
        #g {
            margin: 10px;
            padding-bottom: 40px;
            display: block;
            width: 100%;
        }
    
          #g .g{
            display: flex;
          }    
          #l4 .g{
            display: grid;
            grid-template-columns: auto auto auto auto;
          
          }  
                  .small button {
                      margin-top: 120px;
                   
                  }
        .big button {
            margin-top: 40px;
         
        }
        .big {
            height: 120px;
        }
    
        .small {
            height: 200px;
        }
}
 