  body {
      width: 100%;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      overflow-x: hidden;
      background-image: radial-gradient(circle farthest-corner at 6.6% 12%, rgba(40,53,50,1) 5%, rgba(40,53,50,1) 19%, rgba(80,140,120,1) 53%, rgba(50,60,58,1) 100%);
      background-size: auto;
      background-position: 0% 0%;
      background-repeat: repeat;
      background-color: rgba(0,0,0,0);
  }
  #container {
      width: 100%;
      overflow-wrap: break-word;
      margin: 0px 50px;
  }
  #maincontainer {
      background-color: white;
      width: max-content;
      margin: auto;
      border-radius: 10px;
      text-transform: capitalize;
  }
  hr{
    color: ghostwhite;
  }
  article h1 {
      font-weight: bold;
      font-size: 30px;
  }
  header {
      display: flex;
      padding: 5px;
      padding-top: 10px;
  }
  header img {
      width: 30px;
      height: 20px;
      margin: 5px;
  }
  #logo {
      margin-left: 10px;
      margin-right: 50px;
  }
  nav ul {
      display: flex;
      list-style: none;
      margin: 5px 50px;
  }
  nav li {
      padding: 0 10px;
  }
  nav li a {
      text-decoration: none;
      color: rgba(26, 26, 31, 0.301);
      text-transform: capitalize;
      font-weight: bold;
      transition: 0.5s;
  }
  #user {
      margin-left: 80px;
  }
  .big,
  .small {
      margin: 10px;
      border-radius: 10px;
      padding: 20px;
      position: relative;
  }
  .big {
      height: 150px;
      width: 400px;
  }
  .small {
      height: 250px;
      width: 170px;
  }
  .smallsection {
      display: flex;
  }
  #showcase {
      display: flex;
      width: 920px;
      /* margin-left: 80px; */
      padding-bottom: 40px;
  }
  #showcase p {
      text-align: left;
      font-weight: bolder;
      font-size: 22px;
      color: azure;
  }
  #secondbox {
      margin-right: 150px;
  }
  #showcase button {
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      font-size: 17px;
      transition: 0.5s;
      position: absolute;
      right: 0;
      bottom: 0;
      margin: 10px;
  }
  #showcase button:hover {
      transform: scale(1.1);
  }
button a {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 100px) and (max-width: 900px) and (-webkit-min-device-pixel-ratio: 1) {
body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: auto;
    /* background-color: white; */
    background-image: radial-gradient(circle farthest-corner at 6.6% 12%, rgba(40,53,50,1) 5%, rgba(40,53,50,1) 19%, rgba(80,140,120,1) 53%, rgba(50,60,58,1) 100%);
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-color: rgba(0,0,0,0);
    color: azure;
}

#maincontainer {
    text-transform: capitalize;
    width: 100%;
    /* overflow: hidden; */
    background-image: radial-gradient(circle farthest-corner at 6.6% 12%, rgba(40,53,50,1) 5%, rgba(40,53,50,1) 19%, rgba(80,140,120,1) 53%, rgba(50,60,58,1) 100%);
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat;
    background-color: rgba(0,0,0,0);
}
nav{
    margin: 0px;
    /* overflow-x: clip; */
}
#showcase{
    text-transform: capitalize;
    /* width: 50%; */
    margin: 0px;
    padding-bottom: 20px;
    display: block;
    width: 80%;
    padding: 5px;
    overflow: visible;
}
#showcase p{  
    font-size: 17px;
}
#showcase button{
    font-size: 12px;
}
#container {
    width: 100%;
    overflow-wrap: break-word;
    overflow: hidden;
    margin: 0px;
}
#user{
    margin: 0px 10px;
}
article p{   
    font-size: 15px;
}
header {
    display: block;
    padding: 0px;
    margin: 0%;
}
nav ul {
    display: flex;
    margin: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: baseline;
    padding: 0px;
    margin-top: 0px;
    background-color: black;
}
nav li a{
    color: whitesmoke;
}
#logo {
    width: 30px;
    height: 20px;
    padding: 0px;
}
article {
    margin: 10px;
    width: auto;
}
nav li {
    padding: 0px;
    margin-block: auto;
    margin: 10px;
}
#showcase .smallsection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 120%;
    align-items: flex-start;
    margin-left: auto;
    justify-content: space-evenly;
}
.small button {
    margin-top: 120px;
}
#showcase .big {
    /* max-width: 1200px; */
    width: 100%;
    border: 2px solid white;
}
#showcase .small{
    width: 100%;
}
.big button {
    margin-top: 40px;
}
.big {
    height: 120px;
}
.small {
    height: 200px;
    border: 2px solid white;
}
}

@media only screen and (max-width:1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
body {
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
        margin: auto;
        background-color: white;
    }
   #maincontainer {
       text-transform: capitalize;
       width: 100%;
   }
    nav {
        margin: 0px;
    }
    #showcase {
        text-transform: capitalize;
        width: 50%;
        margin: 0px;
        padding-bottom: 20px;
        display: block;
        width: 80%;
        overflow: visible;
    }
    #showcase p {
        font-size: 17px;
    }

    #showcase button {
        font-size: 15px;
    }

    #container {
        width: 100%;
        overflow-wrap: break-word;
        overflow: hidden;
        margin: 0px;
    }

    #user {
        margin: 0px 10px;
    }

    article p {
        font-size: 15px;
    }

    header {
        display: block;
        padding: 0px;
        margin: 0%;
    }

    nav ul {
        display: flex;
        margin: 0px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        align-items: baseline;
        padding: 0px;
        margin-top: 0px;
        background-color: black;
    }

    nav li a {
        color: whitesmoke;
    }

    #logo {
        width: 30px;
        height: 20px;
        margin: 0px 20px;
        padding: 0px;
    }

    article {
        margin: 10px;
        width: auto;
    }

    nav li {
        padding: 0px;
        margin-block: auto;
        margin: 10px;
    }

    #showcase .smallsection {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 120%;
        justify-content: space-between;
        align-items: flex-start;
    }

    .small button {
        margin-top: 120px;
    }

    #showcase .big {
        width: 113%;
    }

    #showcase .small {
        width: 100%;
    }

    .big button {
        margin-top: 40px;
    }

    .big {
        height: 120px;
    }

    .small {
        height: 200px;
    }
}


