body {
    background-color: aqua;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;

}

#container {
    width: 100%;

}

#maincontainer {
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    text-transform: capitalize;
}

article {
    margin: 0 100px;
}

article h1 {
    font-weight: bold;
    font-size: 30px;

}

header {
    display: flex;
    padding: 5px;
    padding-top: 10px;


}

header img {
    width: 30px;
    height: 20px;
    margin: 5px;
}

#logo {
    margin-left: 10px;
    margin-right: 50px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 5px 50px;

}

nav li {
    padding: 0 10px;
    /* margin-block: 10px; */
    /* margin: 10px; */
}

nav li a {
    text-decoration: none;
    color: rgba(26, 26, 31, 0.301);
    text-transform: capitalize;
    font-weight: bold;
    transition: 0.5s;
}

nav li a:hover {
    color: black;
}

#user {
    margin-left: 90px;
}

.big,
.small {

    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    

}

.big {
    height: 150px;
    width: 420px;
}

.small {
    height: 250px;
    width: 190px;
}


.smallsection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: stretch;
}

#showcase {
    display: flex;
    width: 100%;
    margin-left: 80px;
    padding-bottom: 40px;

}

#showcase p {
    text-align: start;
    font-weight: bolder;
    font-size: 25px;
    color: azure;
    position: absolute;
    top: 0;
    text-transform: capitalize;
}

#secondbox {
    margin-right: 150px;
}


#showcase button {
    padding: 20px;
    border: none;
    border-radius: 10px;
    /* font-weight: bold; */
    /* font-size: 22px; */
    transition: 0.5s;
    margin: 10px;
    position: relative;
}


#showcase button:hover {
    transform: scale(1.1);
}






@media only screen and (min-width :100px) and (max-width:600px) {
    body {
        width: 100%;
        overflow: hidden;
        overflow-y: scroll;
        margin: auto;
        background-color: white;
    }

    #maincontainer {
        text-transform: capitalize;
        width: 100%;
    }

    nav {
        margin: 0px;
    }

    #showcase {
        text-transform: capitalize;
        width: 50%;
        margin: 0px;
        padding-bottom: 20px;
        display: block;
        width: 80%;
        overflow: visible;
    }

    #showcase p {

        font-size: 17px;
    }

    #showcase button {
transition: 0.5s;
        font-size: 15px;
    }


    #container {
        width: 100%;
        overflow-wrap: break-word;
        overflow: hidden;
        margin: 0px;
    }

    #user {
        margin: 10px;
    }

    article p {
        font-size: 15px;
    }

    header {
        display: block;
        padding: 0px;
        margin: 0%;

    }


    nav ul {
        display: flex;
        margin: 0px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        align-items: baseline;
        padding: 0px;
        background-color: gray;
        margin-top: 0px;
    }

    nav li a:hover {
        background-color: rgb(141, 137, 137);
    }

    #logo {
        width: 30px;
        height: 20px;
        margin: 0px 20px;
        padding: 0px;
    }

    article {
        margin: 10px;
        width: auto;
    }

    nav li {
        padding: 0px;
        margin-block: auto;
        margin: 10px;
        color: black;
    }



    #showcase .smallsection {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 120%;
        justify-content: space-evenly;
        align-items: flex-start;
    }


    /* .small button {
        margin-top: 120px;

    } */

    #showcase .big {
    width: 115%;
    }

    #showcase .small {

        width: 100%;

    }

    /*  */

    button.big {
        height: 120px;
    }

    button.small {
        height: 200px;
    }
}

button a {
    text-decoration: none;
    color: black;
}
